<!-- logs.ejs -->
<%- include('./partials/header'); %>

<%- include('./partials/navbar'); %>

<section class="section">
    <div class="container">
        <h1 class="title">
            All Logs
        </h1>

            <table class="table is-primary">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Msg</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach((item)=>{ %>
                        <tr>
                            <th scope="row">
                                <%= item.id %>
                            </th>
                            <td>
                                <%= item.title %>
                            </td>
                            <td>
                                <%= item.logmsg %>...
                            </td>
                            <td>
                                <a href="/log/<%= item.log_hash %>" target="_blank">Open</a>
                            </td>
                            
                        </tr>
                    <% }); %>
                </tbody>
            </table>
    </div>
</section>

<%- include('./partials/footer'); %>