<!-- logs.ejs -->
<%- include('./partials/header'); %>

<%- include('./partials/navbar'); %>

<section class="section">
    <div class="container">
        <h1 class="title">
            Log Detail
        </h1>

        <div class="box">
            <%= data.title %>
        </div>
        <div class="box">
            <pre>
                <code>
                    <%= data.logmsg %>
                </code>
            </pre>
        </div>


    </div>
</section>


<%- include('./partials/footer'); %>